<div class="col-6">
    <div class="mb-3">
        <label for="first_name" class="form-label">First Name</label>
        <input type="text" class="form-control" id="first_name" name="first_name" placeholder="First Name" value="{{this.first_name}}">
    </div>
</div>
<div class="col-6">
    <div class="mb-3">
        <label for="last_name" class="form-label">Last Name</label>
        <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Last Name" value="{{this.last_name}}">
    </div>
</div>
<div class="col-6">
    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="text" class="form-control" id="email" name="email" placeholder="Email" value="{{this.email}}">
    </div>
</div>
<div class="col-6">
    <div class="mb-3">
        <label for="phone" class="form-label">Phone</label>
        <input type="text" class="form-control" id="phone" name="phone" placeholder="Phone" value="{{this.phone}}">
    </div>
</div>
<div class="col-12">
    <div class="mb-3">
        <label for="comment" class="form-label">Comment</label>
        <textarea class="form-control" id="comment" name="comment" rows="3" placeholder="Comment User">{{this.comments}}</textarea>
    </div>
</div>

<button type="submit" class="btn btn-success">Simpan</button>